#home{
    margin: 20px;
    height: 400px;
}
.logo-container{
    height: 100%;
}
.logo-quote p{
    font-size: 2.5vw;
}



/* image gallery */
.img-gallery{
    height: 240px;
    height: 90%;
}

.gallery-card{
    min-width:250px;
  margin: 20px;
 
}

/* about ccc */


.hwr-text{
  
    font-size: 16px;
    
}
#about{
    height: 450px;
   
}